* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'FiraSans';
    src: url(./fonts/FiraSans-Regular.ttf);
}

@font-face {
    font-family: 'FiraSans Thin';
    src: url(./fonts/FiraSans-Thin.ttf);
}
html {
    font-size: 62.5%;
    font-family: FiraSans, sans-serif;
}